build*/
dist/
out/
.vs/
.idea/
.vscode/
*.user
*.suo
*.log
*.zip
*.7z
*.tar.gz
node_modules/
.wrangler/
.dev.vars
android_admin/.gradle/
android_admin/local.properties
android_admin/build/
android_admin/app/build/

.dev.vars*
!.dev.vars.example
.env*
!.env.example
